<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ptb2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>86F7840B1E9A16430092CCAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86F7841F1E9A16450092CCAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86F7842A1E9A16450092CCAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
